<h1 class="animated zoomIn">Login</h1>

<form class="animated pulse" action="login" method="POST">
  <div class="login">
    <input name="email" type="email" placeholder="Email">
  </div>
  <div class="login">
    <input name="password" type="password" placeholder="Password">
  </div>
  <div class="login">
    <button>Login</button>
  </div>
  <!-- </div> -->
</form>
