<div class="animated flipInX">
  <div class="navigationLinks"><a href='/welcome'>Logout</a></div>
  <div class="navigationLinks">Home</div>
  <div class="navigationLinks"><a href="/gigs">Gigs</a>
</div>

<div class="animated fadeInLeft" id="welcome">
  <p id="p2">Welcome <%=current_user.first_name if current_user%></p>
</div>





