<h1 class="animated zoomIn"><strong>Gig</strong>gity</h1>
<p class="animated bounceInUp">MAKE THE HANG</p>

<div id="links">
  <div class="animated bounceInLeft" id="sButton">
    <a href="/signup">Sign Up</a>
  </div>
  <div class="animated bounceInRight" id="lButton">
    <a href="/login">Login</a>
  </div>
</div>

