<h1 class="animated zoomIn">Signup</h1>

<form action="signup" method="post">
  <div class="signup">
   <div class="animated pulse">
    <div class="signup1"
    <label>First Name</label>
    <input name="first_name" type="text" >
    </div>

    <div class="signup1">
    <label>Last Name</label>
    <input name="last_name" type="text">
    </div>

    <div class="signup1">
    <label>Email</label>
    <input name="email" type="email">
    </div>

    <div class="signup1">
    <label>Password</label>
    <input name="password" type="password">
    </div>

    <div class="singup1">
    <label>Password Confirmation</label>
    <input name="password_confirmation" type="password">
    </div>

    <div class="button1">
    <button>Sign Up!</button>
    </div>
    </div>
  </div>

</form>



