<h1>Build Your Profile</h1>
<div class="div2">
<form action="/profile" method="post">


  <label>Date of Birth</label>
  <input name="dob" type="text">

  <label>Location</label>
  <input name="location" type="text"

  <label>Website</label>
  <input name="website" type="text">
</div>

<div class="div3">

  <label>Bio</label>
  <input name="bio" type="text">

  <label>Musical Dream Team</label>
  <input name"dream_team" type="text">

</div>

  <button>Create</button>
</form>
