<div class="animated zoomInUp" id="navigation">
  <div class="navigationLinks">Logout</div>
  <div class="navigationLinks">Messages</div>
  <div class="navigationLinks">Profile</div>
  <div class="navigationLinks">Home</div>
</div>

<div class="animated fadeInLeft">
  <p id="p2">Welcome</p>
</div>



