

<%= render 'users/home'%>

<br>
<br>
<br>
<br>
<br>




<%= render 'form' %>





<div class="gigDiv">
  <% @gigs.each do |gig| %>
  <div class="animated fadeIn" id="gigs">
    <div class="gigTitle">
    <%= link_to gig.title, gig_path(gig) %> posted by <%= link_to gig.user.first_name %>
    </div>
  </div>
  <% end %>
</div>








