<div id="navigation">
  <div class="navigationLinks">Logout</a></div>
  <div class="navigationLinks">Messages</div>
  <div class="navigationLinks">Profile</div>
  <div class="navigationLinks"><a href="/home">Home</a></div>
</div>

<h1>Post a gig</h1>

<%= render 'form' %>
